.icon-left{
	position: absolute;
	top:20px;
	left:30px;
	
}
.icon-right{
	position: absolute;
	bottom:10px;
	right:10px;
	
}

.text-alig{
	top:50%;
	left:50%;
}

.season-display{
	display: flex;
	justify-content:center;
	align-items:center;
	height: 100vh;
}

.season-display.winter i{
	color: blue;
}

.season-display.summer i{
	color: red;
}

.winter{
	background-color:aliceblue;
}
.summer{
	background-color:orange;
}